/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORI */

.bg-lightblue {
  background-color: #b3d0e7;
}

.bg-black {
  background-color: black;
  color: white;
}

.lightgreen {
  background-color: #a2d29b;
}

.darkred {
  background-color: #61072b;
}

.cyan {
  background-color: #0293ce;
}

.orange {
  background-color: #ff1d1c;
}

.red {
  background-color: #d50220;
}

.lightblue {
  background-color: #b3d0e7;
}

.blue {
  background-color: #0e2481;
}

.yellow {
  background-color: #ffd830;
}

/* UTILS */

/* .border {
  border: 1px dashed black;
}

.border-w {
  border: 1px dashed white;
} */

.container-l {
  max-width: 1400px;
  margin: 0 auto;
}

.container-m,
.container-mb {
  max-width: 1200px;
}

.container-m {
  margin: 100px auto;
}

.container-mb {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.p-50-40 {
  padding: 50px 40px;
}

.p-50 {
  padding: 50px;
}

.col-70 {
  flex-basis: 70%;
}

.col-30 {
  flex-basis: 30%;
}

.col-50 {
  flex-basis: 50%;
}

.col-45 {
  flex-basis: 45%;
}

.underline {
  text-decoration: underline;
}

/* .align-center {
  align-items: center;
} */

/* GENERICS */

body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 78px;
  font-weight: 800;
  padding: 150px 0 50px 0;
}

h2 {
  font-size: 48px;
  margin: 40px 0;
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

h4 {
  margin: 30px 0;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* BUTTONS */

.btn {
  color: white;
  background-color: #0161ff;
}

.btn-black {
  color: black;
  border: black solid 1px;
  margin: 30px 0;
}

.btn-small {
  padding: 10px 15px;
}

.btn-large {
  margin: 30px 0;
}

.btn-large,
.btn-large-b,
.btn-black {
  padding: 15px 25px;
}

.btn-trial {
  color: black;
  background-color: white;
  padding: 15px 50px;
  position: absolute;
  top: 137px;
  right: 160px;
}

/* HEADER */

.navbar {
  height: 80px;
  background-color: white;
  justify-content: space-between;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar > div {
  padding: 0 20px;
}

.nav-link {
  align-items: center;
}

header a {
  padding: 30px 20px;
  color: #343434;
}

/* MAIN */

.jumbotron {
  height: 450px;
}

.col-30 > p {
  margin-bottom: 30px;
}

.col-30 > i {
  margin-top: 70px;
}

/* tasti fatturazione */
.fatt {
  height: 80px;
  align-items: center;
}

.blue-border,
.grey-border {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.blue-border {
  border: #0161ff solid 5px;
}

.grey-border {
  border: #d2d2d5 solid 2px;
  margin-left: 50px;
}
/* fine tasti fatturazione */

.user {
  text-align: center;
  padding: 15px 0;
  border-bottom: #d2d2d5 solid 1px;
}

.price {
  font-weight: 800;
  margin-bottom: 20px;
}

.period {
  color: #707070;
  margin-bottom: 50px;
}

.fa-check {
  color: #0161ff;
}

.buynow {
  padding-bottom: 30px;
}

.row {
  gap: 45px;
}

.col {
  flex-basis: calc(100% / 3);
}

.col-b {
  border: #d2d2d5 solid 1px;
}

.m-50b {
  margin-bottom: 50px;
}

.m-50 {
  margin: 50px 0;
}

.d-partner {
  height: 500px;
}

.bigsquare {
  height: calc(100vw / 3);
  width: calc(100vw / 3);
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.bigsquare .square {
  height: 50%;
  width: 50%;
}

.p-50 img {
  width: 50%;
  padding-bottom: 80px;
}

.p-50 p {
  padding: 30px 0;
}

.square {
  justify-content: center;
  align-items: center;
}

.square img {
  max-height: 50%;
  width: 50%;
  filter: invert(100);
}

.trial {
  height: 400px;
  position: relative;
}

.trial-title {
  color: #61072b;
  margin: 0;
  position: absolute;
  top: 125px;
}

.faq-q {
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-top: solid 2px #bbbbbb;
}

.faq :nth-child(4) {
  border-bottom: solid 2px #bbbbbb;
}

.faq-q > div {
  font-weight: 600;
}

.faq-q > span {
  padding-right: 50px;
}

/* FOOTER */

.footer-top {
  height: 450px;
}

.footer-top > * {
  color: white;
}

.footer-top li {
  padding: 10px 0;
}

.footer-top > div {
  padding-top: 80px;
  flex-basis: calc(100% / 5);
}

.footer-bottom {
  height: 80px;
}

.language {
  color: #999999;
  line-height: 80px;
}
